
/*OTHER*/
.wrapper{
  background-color: #0e1111;
  height: 100%;
}
#root{
  height: 100vh;
}
.downDiv{
  position: absolute;
  background-color: transparent;
  bottom: 2px;
  width: 100%;
  text-align: center;
}
.center{
  display: flex;
  flex-direction: column;
}
button {
  background-color: transparent;
  border: 0;
  color: white;
  outline: 0;
}
i, p, label {
  color: white;
}
.hiddenClass{
  display: none;
}
/*TOPMENU*/
.logo {
  font-family: "Varela Round", sans-serif;
  color: white;
  font-size: 26px;
}
.settings-icon {
  margin: 5px 5px 0px 0px;
  font-size: 35px;
  z-index: 2;
  display: inline-block;
  max-width: 100px;
  white-space: wrap;
  border: 0;
}
.topMenuWrapper {
  height: 10%;
  background-color: #252120;
  max-width: 100vw;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 2;
  justify-content: space-between;
  border-bottom: 1px solid #1890ff;
}
.topMenuWrapper .ant-btn:focus {
  color: white;
}
.searchButton {
  z-index: 3;
  width: 50px;
}
/*transitions*/
.autocomplete--entering,
.autocomplete--entered {
  opacity: 1;
  transition: opacity 2200ms;
  margin: 5px 0px 0px 5px;
  padding-bottom: 30px;
  display: inline-block;
  font-size: 16px;
  max-width: 200px;
  position: absolute;
}

.autocomplete--exiting,
.autocomplete--exited {
  opacity: 0.3;
  transition: opacity 2200ms;
  margin: 5px 0px 0px 5px;
  padding-bottom: 30px;
  position: absolute;
  font-size: 16px;
  display: inline-block;
  max-width: 200px;
}
.transition--entering,
.transition--entered {
  opacity: 1;
  transition: opacity 900ms;
}
.transition--exiting,
.transition--exited {
  opacity: 0.3;
  transition: opacity 900ms;
}

.searchButton--entering,
.searchButton--entered {
  border: 0 !important;
  position: relative;
  opacity: 1;
  transition: opacity 2200ms;
  border: 1px dashed white;
  margin: 5px 0px 0px 5px;
  font-size: 28px;

  z-index: 3;
  display: inline-block;
}

.searchButton--exiting,
.searchButton--exited {
  border: 0 !important;
  position: relative;
  opacity: 0.3;
  transition: opacity 2200ms;
  border: 1px dashed white;
  margin: 5px 0px 0px 5px;
  font-size: 28px;

  z-index: 3;
  display: inline-block;
}
/*CATEGORYBUTTONS*/

.grid-container {
  max-height: 100%;
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "menu main main main right right"
    "menu footer footer footer footer footer";
  grid-gap: 10px;
  background-color: transparent;
  padding: 20%;
}

.categoryModal{
  position: absolute;
  display: block;
  top: 2px;
  right: 50%;
}

.nsfw {
  grid-area: header;
  min-height: 100px;
  background-color: #ec6262;
}
.art {
  grid-area: menu;
  height: 100%;
  background-color: #83d6b7;
}
.food {
  grid-area: main;
  min-height: 50px;
  background-color: #e1d267;
}
.sfw {
  grid-area: right;
  min-height: 50px;
  background-color: #e4a8f9;
}
.animals {
  grid-area: footer;
  min-height: 100px;
  background-color: #99ea86;
}

/*SLIDER*/
.subRedditTitle{
  margin: auto;
  display: block;
}
.slider{
  
  margin: auto;
  display: block;
}
.image, .video{
  display: block;
  margin: auto;
  height: 100%;
  object-fit: contain;
  max-height: 85vh;
  min-width: 100%;

  border-radius: 5px;
}
.imgDiv, .videoDiv{
  display: block;
  margin: auto;
  height: 100%;
  color: white;
  text-align: center;
}
